# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyc

# C extensions
*.so

# Virtual environments
venv/
env/
.venv/
.env/

# Test cache
.pytest_cache/
.tox/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover

# IDEs
.vscode/
.idea/

# Mac/Windows
.DS_Store
Thumbs.db

# Logs
*.log

# pip tools
pip-log.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# local secrets or env vars
.env
*.env